<% if current_user %>
	<% if @photo.user_id == current_user.id %>

		<h1>Add a caption, then share!</h1>

		<div class="photo-to-edit">
			<%= image_tag show_file_photo_url(@photo.id)%>
		</div>
		
		<div class="photo-caption">
			<p><%=@photo.caption%></p>
		</div>

		<div class="caption-share-buttons">
			<button class="random-caption-button" data-caption="<%= @captions.to_json %>" data-photo-id="<%= @photo.id %>">Caption this photo!
			</button>

			<div class="delete-button">
				<%= link_to image_tag("trash-can.png"), photo_url(@photo), method: :delete,
						confirm: "Are you sure you want to delete this photo?" %>
			</div>

			<div class="share-button">
				<%= link_to "Share!", new_share_email_photo_url(@photo.id) %>
			</div>
		</div>

			<script type="text/javascript">

		 	$(function() {

		 		$('.random-caption-button').click(function() {
		 			var captions = $(this).data('caption');
		 			var photo_id = $(this).attr('data-photo-id');
		 			var rand_num = Math.floor(Math.random() * captions.length);
		 			var rand_caption = captions[rand_num];

		 			$.post(
		 				'/photos/' + photo_id,
		 				{ id: photo_id, caption: rand_caption, "_method":"put" },
		 				function() {
		 					var caption = $('.photo-caption').children();
		 					caption.empty();
				 			caption.append(rand_caption);
		 				}
		 			);
		 		});
		 	});

		</script>

	<% else %>

		<div class="photo-to-edit">
			<%= image_tag show_file_photo_url(@photo.id)%>
		</div>
		
		<div class="photo-caption">
			<p><%=@photo.caption%></p>
		</div>

	<% end %>

<% else %>

	<div class="photo-to-edit">
		<%= image_tag show_file_photo_url(@photo.id)%>
	</div>
	
	<div class="photo-caption">
		<p><%=@photo.caption%></p>
	</div>

<% end %>
